@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");
@import "base/variables";
@import "base/_mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #000000;
}
h1,
h2,
p {
  color: white;
}
a,
li {
  color: white;
  text-decoration: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.divider {
  width: 100%;
  background-color: white;
  height: 1px;
}
@import "blocks/header";
@import "blocks/experience";
@import "blocks/carousel";
@import "blocks/title";
@import "blocks/products";
@import "blocks/reviews";
@import "blocks/slider";
@import "blocks/offers";
@import "blocks/events";
@import "blocks/contacts";
@import "blocks/newsletter";
@import "blocks/footer";
