.events {
  padding-top: 150px;
  &__slider {
    margin-top: 55px;
    position: relative;
    padding: 0 57px;
    .slick-arrow {
      position: absolute;
      top: 50%;
      margin: -40px 0 0 0;
      z-index: 10;
      width: 80px;
      height: 80px;
    }
    .slick-arrow.slick-prev {
      left: -45px;
      font-size: 0;
      border: none;
      outline: none;
      cursor: pointer;
      background: url("../icons/events/left.svg") center center/cover no-repeat;
    }
    .slick-arrow.slick-next {
      right: -45px;
      font-size: 0;
      border: none;
      transform: scale(-1, 1);
      outline: none;
      cursor: pointer;
      background: url("../icons/events/left.svg") 0 0 / 100% no-repeat;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    background-color: rgba(24, 25, 26, 1);
    max-height: 410px;
    &-info {
      color: #ffffff;
      margin-left: 30px;
      max-width: 515px;
    }
    &-title {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }
    &-subtitle {
      margin-top: 8px;
      @include poppins;
      font-size: 18px;
      line-height: 27px;
    }
    &-descr {
      margin-top: 40px;
      @include poppins;
      font-size: 18px;
      line-height: 27px;

      letter-spacing: 1px;
    }
    &-link {
      margin-top: 45px;
      @include yellow_link;
    }
  }
}
