.header {
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__actions {
    padding: 15px;
    &-left {
      flex: 0 0 40%;
      max-width: 40%;
      display: flex;
      justify-content: start;

      @include poppins;
      font-size: 15px;
      line-height: 18px;
      align-items: center;
    }
    &-logo {
      flex: 0 0 20%;
      max-width: 20%;
      display: flex;
      justify-content: center;
    }
    &-right {
      flex: 0 0 40%;
      max-width: 40%;
      display: flex;
      justify-content: space-around;
      margin-left: 18px;

      @include poppins;
      font-size: 15px;
      line-height: 18px;
      align-items: center;
    }
    &-hamburger {
      height: 16px;
      right: 21px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      cursor: pointer;
      span {
        display: block;
        width: 18px;
        height: 2px;
        background: #ffffff;
      }
      span.long {
        width: 36px;
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;

  border: 1px;
  width: 100%;
  border-style: solid none solid none;
  border-color: white;
  padding: 25px 0;
  &__item {
    font-size: 16px;
    line-height: 9px;
    @include cinzel;
    a {
      &:hover {
        color: $main-color;
        border-bottom: 1px solid $main-color;
        transition: 0.5s all;
      }
    }
  }
}
